# Build directories
build/
install/
_codeql_build_dir/
_codeql_detected_source_root

# Python cache
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc

# Compiled extensions
*.so
*.o
*.a

# Specific compiled files
python/_sage_db.cpython-*-linux-gnu.so
dist/*
